<section>
  <h2 class="text-white text-4xl font-bold mb-8">Projects</h2>
  <div class="flex flex-col md:flex-row text-white p-1">
    <div class="flex flex-col w-full md:w-64">
      <div
        class="mb-8 md:mb-0 pr-2 self-start transition ease-in delay-50 hover:-translate-y-1 hover:scale-102"
      >
        <a href="https://gllry.xyz">
          <h2 class="text-xl mb-2">Gllry</h2>

          <img
            src="images/og.webp"
            class="rounded-lg mb-1"
            alt="gllry"
          />

          <span class="text-md italic">Experience Your Collection</span>
        </a>
      </div>
      <div
        class="mb-8 md:mb-0 pr-2 transition ease-in delay-50 hover:-translate-y-1 hover:scale-102"
      >
        <a href="https://developerdao.com">
          <h2 class="text-xl mb-2">Developer DAO</h2>

          <img
            src="images/dd-banner.webp"
            class="rounded-lg mb-1"
            alt="developer dao website"
          />

          <span class="text-md italic">Developer DAO Website</span>
        </a>
      </div>
    </div>

    <div
      class="mb-8 md:mb-0 flex-1 pr-2 transition ease-in delay-50 hover:-translate-y-1 hover:scale-102"
    >
      <a href="https://ridewaves.app">
        <h2 class="text-xl mb-2">Wavy Name Service</h2>

        <img
          src="images/wavy-ns.webp"
          class="rounded-lg"
          alt="wavy name service"
        />

        <span class="text-md italic">Simplified ENS</span>
      </a>
    </div>
    <section class="w-full md:w-64">
      <div
        class="mb-8 md:mb-0 transition ease-in delay-50 hover:-translate-y-1 hover:scale-102"
      >
        <a href="https://hyy.pe/home">
          <h2 class="text-xl mb-2">Hyype</h2>

          <img
            src="images/meta-hyype.webp"
            class="rounded-lg mb-1"
            alt="hyype"
          />

          <span class="text-md italic">Hyype - Front End Eng. (prev)</span>
        </a>
      </div>
    </section>
  </div>
</section>
